html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: white;
}

body {
  background: black url('../assets/jeremy-bishop-unsplash.jpg') no-repeat center;
  background-size: cover;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 4rem;
  max-height: 5rem;
}

#header-text {
  font-size: 2rem;
  font-weight: bold;
}

#main {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-rows: minmax(0, 1fr);
  height: 100%;
}

.result-info {
  display: flex;
  padding: 1rem;
}

.result-info:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#location-form {
  display: flex;
  height: 100%;
  width: 100%;
  min-width: 350px;
  flex-direction: column;
  grid-column-start: 1;
  grid-row-start: 2;
  gap: 1rem;
}

#location-label {
  font-size: 1.5rem;
}

#location-input {
  height: 2rem;
  width: 50%;
  min-width: 350px;
  font-size: 1.5rem;
  border-radius: 10px;
}

#location-results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 50%;
  min-width: 350px;
  padding: 1rem;
  border-radius: 5px;
}

#current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  grid-column-start: 1;
  width: 50%;
  min-width: 350px;
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

#current-weather-icon {
  max-height: 200px;
  max-width: 200px;
}

#current-weather-temp {
  font-size: 3rem;
  max-width: 200px;
  display: flex;
  justify-content: center;
}

#current-weather-secondary {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 1rem;
}

#weather-widgets {
  gap: 1rem;
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  align-items: flex-end;
  grid-template-columns: repeat(7, 1fr);
}

.weather-widget {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 12rem;
  max-height: 12rem;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
}

#photo-credit {
  display: flex;
  align-items: center;
  order: 2;
}

#self-container {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 1;
  max-height: 48px;
}

#self-icon {
  max-height: 48px;
  width: 100%;
}

#odin-container {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 3;
  max-height: 48px;
}

#odin-icon {
  max-height: 48px;
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  height: 4rem;
  max-height: 5rem;
  min-height: 2rem;
  margin-top: auto;
}
